/* VARIABLES */

/* MAIN ELEMENTS */
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}


article {
	width: 70%;
	font-family: arial;
}


/* MISC. */
/* flex-box */
.flex_upDown {
	display: flex;
	flex-direction: column;
}

.flex_leftRight {
	display: flex;
	flex-direction: row;
}

.flex_justify-center {
	justify-content: center;
}


/* IDs */
/* Creation Info */
#creation_info {
	text-align: left;
	display: none;
}

/* CLASSES */
.page_number{
	display: none;
	text-align: right;
}

/* MEDIA QUERIES */
/* print */
@media print {
	/* MAIN ELEMENTS */
	h1{
		display: none;	
	}
	h2 {
		font-size: 12pt;	
	}
	
	article{
		font-family: Times New Roman 12pt;
		width: 100%;
		margin-left: 1in; 
		margin-right: 1in;
		line-height: 2;
	}


	/* MISC */
	.page_number {
		display: block;
	}
	
	/* IDs */
	#creation_info {
		display: block;
	}
	
	#essay	{
		text-indent: 5ch;
	}

	#worksCited{
		page-break-before: always;
	}
	#worksCited > p{
		padding-left: 5ch;
	}
	#worksCited > p:first-letter {
		margin-left: -5ch;
	}

}
