#noclick {
	background-image: linear-gradient(23deg, #34a291 30%, #91a234, #34a291 80%);
	pointer-events: none;

	width: 7em;
	height: 14em;

	overflow: scroll;
	/* word-wrap: none; */
}

body {
	counter-reset: paragraphCounter; /* I just made up the name */
}

body > article > p::before{
	counter-increment: paragraphCounter;
	content: "Copy number " counter(paragraphCounter) ": ";
}
