

table {
	border: 8px outset deepskyblue;	
}

tr {

}

#tr:nth-child(even){
	background-color: skyblue;
}

#tr:nth-child(odd){
	background-color: steelblue;
}

thead {
	background-color: lime;
	color: #555555;
	font-weight: 900; /* Bold between 100 to 900, or bold, bolder, boldest */
}

td {

}

tfoot {

}

tfoot td {
	font-style: italic;
	text-decoration: underline;
}


/* My table */
.my_table{
	display: table;
	border: 9px outset skyblue;
}
.my_row {
	display: table-row;
}
.my_table .my_row p{
	display: table-cell;
	border: double 4px skyblue;
}
.my_row:nth-child(odd) {
	background-color: skyblue;
}
.my_row:nth-child(even) {
	background-color: steelblue;
}
.my_header {
	display: table-row;
	background-color: lime;
	font-weight: 850;
}

ol {
	list-style-type: upper-roman;
	list-style-position: outside;
}

ul {
	list-style-type: circle;
}
