/* ====== MAIN SELECTORS ====== */

h1 {
	background-color: #002171;
	color: #FFFFFF;
	font-family: "Georgia";
	line-height: 200%;
}

h2 {
	color: #1976D2;
	font-family: "Georgia";	
}

body {
	background-color: #FFFFFF;
	color: #666666;
	font-family: "Arial";
}

footer {
	position: relative;
	bottom: 5px;
	font-size: .70em;
	font-style: italic;
	text-align: center;
}


/* ======= NAVIGATION BAR =======*/
.navbar {
	background-color: #BBDEFB;
}

.navbar a {
	padding: 10px;
	font-weight: bold;
}


/* Shifts paragraphs to the right*/

.indent p {
	/*text-indent: 2em;*/
	margin-left: 2em;
}

.resort {
	font-size: 1.2em;
	color: #1976D2;
}

.wrapper {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}


/* =======PAGES======= */
/* ---YURTS--- */
.yurts-content li {
	font-weight: bold;
	list-style-type: none;
}

/* ---UnderConstruction.html--- */
.hardHat{
	height: 160px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}
