/* ====== MAIN SELECTORS ====== */
html {
	background-image: linear-gradient(#FFFFFF, #90c7e2); /* CSS Linear Gradients */
	background-attachment: fixed; /* The background-attachment CSS property sets whether a background image's position is fixed within the viewport, or scrolls with its containing block. */	
}

h1 {
	background-color: #002171;
	color: #FFFFFF;
	font-family: "Georgia";
	line-height: 200%;
	padding-left: 30px;
	text-align: left;
	flex-grow: 2;
	margin: 0px;
	
	
}

h2 {
	color: #1976D2;
	font-family: "Georgia";
	padding-left: 10px;
}

h3 {
	padding-left: 10px;
	font-family: "Georgia";

}

p {
	padding-left: 10px;
}

body {
	background-color: #FFFFFF;
	color: #666666;
	font-family: "Arial";
	box-shadow: 12px 14px 9px #858585;
}

.footer {
	position: relative;
	bottom: 5px;
	font-size: .70em;
	font-style: italic;
	text-align: center;
}


/* ======= NAVIGATION BAR ======= */
.navbar {
	background-color: #FFFFFF;
	text-align: center;
	padding: 6px;
}

.navbar a {
	padding: 10px;
	font-weight: bold;
	text-decoration: none;
}

.navbar a:visited{
	color: blue;
}

.navbar a:visited{
	color: blue;
}

.navbar a:hover{
	color: red;
}

/* ---header images--- */
.header_image {
	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.top_of_page {
	display: flex;
	justify-content: center;
}

.spacing {
	background-color: #002171;
	width: 20%;
	height: 72px;
	margin: 0%;
	flex-grow: 0;
}

/* Shifts paragraphs to the right */

.indent p {
	/*text-indent: 2em;*/
	margin-left: 2em;
}

.resort {
	font-size: 1.2em;
	color: #1976D2;
}

.wrapper {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}


/* Headers image */
.sunset {
	height: 10%
}


/* =======PAGES======= */
/* ---YURTS--- */
.yurts-content li {
	font-weight: bold;
	list-style-type: none;
}

/* ---UnderConstruction.html--- */
.hardHat{
	height: 160px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}
