html{
	background-color: #282525;
}

header {
	position: absolute;
	top: 2.3em;
	left: 148px;
	min-width: 33%;
}

aside {
	position: fixed;
	top: 83px;
	left: 50pt;
	background-color: hsl(234, 67%, 34%);
}

.left {
	position: absolute;
	top: 124pt;
	left: 124pt;
	width: 21%;
}

.middle {
	position: absolute;
	top: 124pt;
	left: calc(124pt + 21% + 2.1em);
	width: 21%;
}
.right {
	position: absolute;
	top: 124pt;
	left: calc(124pt + 21% + 2.1em + 124pt + 21% + 2.1em);
	width: 21%;
}

footer {
	color: white;
	
	position: absolute;
	bottom: 5em;
}

p {
	background-color: hsl(234, 67%, 34%);
	color: rgba(222, 240, 12, 70%);
}

p:hover {
	background-color: hsl(34, 67%, 34%);
	color: rgba(2, 240, 212, 70%);
}

a:active {
	background-color: green;
}

p:nth-child(even){
	background-color: red;
}

a:visited {
	color: red;
}

a:hover {
	color: rgba(222, 240, 12, 70%);
}

/* Print page */
@media print {
	p {
		color: black;
	}

	.break {
		page-break-after: always; /* always or never */
	}

	a {
		color: brown;
		background-color: green;
	}

	a:after {
		content: " (" attr(href) ") " ; /* Attribute function */
	}	

}


@media (min-width: 900px) { 
	p {
		background-color: hsl(123, 67%, 34%);
		color: #FF0000;
	}
}
