html{
	background-color: #282525;
}

p {
	background-color: hsl(234, 67%, 34%);
	color: rgba(222, 240, 12, 70%);
}

p:hover {
	background-color: hsl(34, 67%, 34%);
	color: rgba(2, 240, 212, 70%);
}

a:active {
	background-color: green;
}

p:nth-child(even){
	background-color: red;
}

a:visited {
	color: red;
}

a:hover {
	color: rgba(222, 240, 12, 70%);
}

/* Print page */
@media print {
	p {
		color: black;
	}

	.break {
		page-break-after: always; /* always or never */
	}

	a {
		color: brown;
		background-color: green;
	}

	a:after {
		content: " (" attr(href) ") " ; /* Attribute function */
	}	

}


@media (min-width: 900px) { 
	p {
		background-color: hsl(123, 67%, 34%);
		color: #FF0000;
	}
}
