header {
	color: #cc0403;
	font-family: "Helvetica";
}

/* Navigation Bar */

.navbar {
	background-color: #5c5656;
}

.navbar a {
	color: #ffffff;
	font-size: 35px;
	text-decoration: none;
	padding: 10px;
}

.navbar a:hover {
	color: #cc0403;
}

.hyperlink{
	list-style-type: none;
	color: #ffffff;
}

.table-of-content {
	list-style-type: none;
}

/* Changes the text color for the unsorted list (table of context)*/
li a {
	color: #ff0000;
	text-decoration: none;
	font-size: 25px;
}
li a:hover {
	color: #ffffff;
}


/* Body  */
body {
	background-color: #282525;
	color: #ffffff;
	font-family: "Helvetica";

}

footer {
	text-align: right;
	font-family: "Helvetica";

}
