/* MAIN SELECTORS */
html, body {
	background-color: #282525;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: Monospace;
}

footer {
	margin-top: auto;
}

/* MISC */

/* text */
.text-center-align {
	text-align: center;
}


/* flex box */
.flex_left-and-right {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	
}
.flex_up-and-down {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}

/* form */
form {
	font-size: 21pt;
	align-self: center;
}

form > input{
	font-size: 21pt;
	background-color: #ff0000;
}

form > input {
	border: 2px solid #ffffff;	
}

.form_label {
	color: #ffffff;
}

.button:hover {
	background-color: white;
	border-color: red;
}


/* table */
#output {
	
}

table {
}

th {
	text-align: left;
	font-size: 18pt;
	color: #ffffff;
}


td {
	text-align: right;
	font-size: 18pt;
	color: #ffffff;
}
