/* Navigation bar*/
.navbar a{
	padding: 10px;
}

.indent p{
	/*text-indent: 2em;*/
	margin-left: 2em;
}


footer {
	position: relative;
	bottom: 5px;

}

/* =======PAGES======= */
/* ---YURTS--- */
.yurts-content li{
	font-weight: bold;
	list-style-type: none;
}

/* ---underConstruction.html--- */
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
