/* BACKGROUND */
#background {
	background-image: linear-gradient(#FFFFFF, #90c7e2); /* CSS Linear Gradients */
	position: fixed;
	z-index: -100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* HEADERS */
h1 {
	text-align: center;
	color: white;
	background-color: #232e6b;
	font-family: "Georgia";
}

h2 {
	font-family: "Georgia";
	color: #1e76bc;	
}

h3 {
	font-family: "Georgia";
	font-size: 25pt;	
}

header {
	background-color: #232e6b;
}


/* BODY */
body {
	margin: 0;
}

.wrapper {
	justify-content: center;
	margin: 0 10% 0 10%;
	background-color: #FFFFFF;
}


/* FOOTER */
footer {
	justify-content: center;
	align-content: center;
	text-align: center;
	padding: 0 0 10px 0;
}


/* NAVIGATION BAR */
.navbar > ul {
	justify-content: space-around;
	padding: 0;
}

.navbar > ul > li {
	list-style-type: none;
	text-align: center;
	border-width: 1px 0 1px 0; 
}

.navbar > ul > li > a {
	text-decoration: none;
	font-size: 20pt;
	font-weight: 900;
}

.navbar > ul > li >	a:link {
	color: #0372b4;	
}

.navbar > ul > li > a:visited{
	color: #344873;
}

.navbar > ul > li > a:hover{
	color: #A52A2A;
}


/* MISC. */

/* flex-box DISPLAY*/
.up-and-down_flex {
	display: flex;
	flex-direction: column;
}

.left-and-right_flex {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

.container-flex-start {
	justify-content: flex-start;
}

.container-flex-space-between {
	/* align-self: flex-end; */
	justify-content: space-between;
}
.container-flex-space-evenly {
	/* align-self: flex-end; */
	justify-content: space-evenly;
}

.item-center {
	align-self: center;
}

.gap_flex {
	gap: 30px;
}

/* float DISPLAY*/
.float-right {
	float: right;
}

/* form */
input {
	font-size: 15pt;
}

button {
	font-size: 15pt;
}

/* store item */
.store-item {
	background: #F4F4F4;
	padding: 1em;	
}

.store-item p {
	font-size: 20pt;
}

/* table */
table {
	border-collapse: collapse;
	width: 90%;
}

th {
	border-collapse: collapse;
	border: 1px solid;
	border-color: #3399CC;
	padding: 5px;
}

td {
	border-collapse: collapse;
	border: 1px solid;
	border-color: #3399CC;
	padding: 5px;
	text-align: left;
}

tbody > tr > th {
	font-weight: 200;
}

tbody > tr:nth-of-type(odd) {
	background-color: #6fbcf8;
}

/* text */
.text {
	padding: 0 15px 0 15px;
	font-size: 15pt;
}

.highlight {
	font-size: 20pt;
	font-weight: 900;
	color: #0372b4;
}

.list-style-remove {
	list-style-type: none;
}

.yurts-paragraphs {
	gap: 50px;
	font-size: 15pt;	
}

/* images */
#hero {
	overflow: hidden;
	height: 100%;
}

#hard_hat {
	align-self: center;
	width: 200px;
}

/* MEDIA QUERYS */
@media (max-width: 523px) {
	/* BODY */
	.wrapper {
		margin: 0 0 0 0;
	}


	/* NAVIGATION BAR - MAKE VERTICAL*/
	.navbar > ul {
		flex-direction: column;
	}
	.navbar > ul > li:nth-child(2n+2) {
		border-top-style: solid;
	}
	.navbar > ul > li:nth-child(1n+1) {
		border-top-style: solid;
	}
	.navbar > ul > li:nth-child(1) {
		border-top-style: none;
	}

	/* MISC. */
	.yurts-paragraphs {
		flex-flow: column;
	}

	/* media */
	video {
		width: 300px;
	}

	/* flex-box */
	.left-and-right_flex {
		flex-wrap: wrap;
	}

	
	
}	
