/* Does not work on Linux */
@font-face{
	font-family: "parry-hotter";
	src: url(ParryHotter.ttf);
}


/*====== MAIN SELECTORS ======*/
html {
	min-height: 100%;
	font-size: 12pt;
	background-color: hsl(161, 89%, 41%); /*hue, saturation, luminosity/lightness */
}

h1 {
	font-family: "Impact";
	font-size: 32px; /* 72 points per inch, 1.5px per pt */
}


/*====== CUSTOM SELECTORS ======*/
.first {
	/*If first font not avilable use the next one. */
	/* font-family: "Arial", "FreeSans", "FreeSerif"; */
	font-family: "parry-hotter";
	/* background-color: rgb(43, 49, 222); */
	background-color: rgba(43, 49, 222, 20%);
	border: dashed 4px hsla(12, 33%, 91%, 49%);
	/* border-top: dashed 4px hsla(12, 33%, 91%, 49%); /* top, right, left, */
	box-shadow: 12px 14px 9px #858585; /* right, bottom blur(fade over )*/

	/* border-radius: 50%; */
	border-top-left-radius: 33%;
	border-bottom-left-radius: 67%;
	padding: 7.1em;
	margin-left: 4em;
}

.second #fourth h1{
	font-size: 2.5em; /* em = Largest letter in font */
	color: red;
}

.third {
	min-height: 100pt;
	font-size: 35%;
	color: red;
}

#fourth{
	border-top: dotted;
	border-top-style: dotted;
	border-top-size: 7px;
	border-top-color: #4567aa;

	border-right-style: double;
	border-right-style: 9px;
	border-right-color: #ff0000;
	
	box-shadow: -8px -9px 8px inset hsl(180, 43%, 78%);
	
}

section #second{
	color: red;
	text-shadow: ;
}
