header {
	background-color: #282525;

}

h3 {
	background-color: green;

}

body {
	background-color: #282525;
	color: white;

}


/* class */
.big{
	/* In pixels */
	font-size: 32px;
	/* point */
	font-size: 32pt;
}

.red{
	color: #ff0000;
}

#paragraphs {
	background-color: #888888;
}
